{%- if product.metafields.info.countdown != blank -%}
    
    <div class="d-flex align-items-start product-countdown flex-column ">
        {% if title_heading != blank %}
            <div class="h6 mb-0">{{ title_heading }}</div>
        {% endif %}
        <countdown-timer class="countdown-timer countdown-item js-countdown mt-3" data-time="{{ product.metafields.info.countdown }}"></countdown-timer>
    </div>
{%- endif -%}