{%- if section.settings.sizeguide_enable -%}
<!-- productSizeGuide.liquid -->
{%- assign pageSizeGudie = pages[section.settings.sizeguide_page] -%}
<a href="javascript:void(0)" data-toggle="modal" data-target="#jsSizeGuide" class="open-sizeguide link">
  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.343 16.812H3.219v-4.415h14.124" stroke="currentColor" stroke-width=".987" stroke-miterlimit="10"></path>
          <path d="M11.903 16.705v-2.369M6.438 16.705v-2.369M9.17 16.705v-1.51M14.635 16.705v-1.51M17.368 16.705v-2.369" stroke="currentColor" stroke-width=".934" stroke-miterlimit="10"></path>
          <path d="M17.343 16.812a2.882 2.882 0 0 0 2.882-2.882V9.515" stroke="currentColor" stroke-width=".987" stroke-miterlimit="10"></path>
          <path d="M8.816 12.397a2.882 2.882 0 1 1 0-5.764h8.527a2.882 2.882 0 1 1 0 5.764" stroke="currentColor" stroke-width=".987" stroke-miterlimit="10"></path>
          <path d="M8.81 9.515h8.54" stroke="currentColor" stroke-width=".934" stroke-miterlimit="10"></path></svg>{{ section.settings.sizeguide_title | default: 'Size guide' }}
</a>
<div class="modal fade" id="jsSizeGuide" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog--sizeguide modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">{%- render 'icon-close' -%}</button>
      </div>
      <div class="modal-body px-4 pb-4 pt-2">
        <h4 class="text-center hide">{{ pageSizeGudie.title }}</h4>
        <div class="row justify-content-center js-sizeguide-content">
          <div class="col-12 px-lg-5">
          {{ pageSizeGudie.content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .modal-dialog--sizeguide img{width:100%}.open-sizeguide{display: block;font-size: 14px;}.open-sizeguide i{margin-right:5px}.js-sizeguide-content td,.js-sizeguide-content th{border:1px solid rgba(0,0,0,.1)}@media (min-width:992px){.open-sizeguide{}}
</style>
{%- endif -%}