.categories-i-grid {
  position: relative;
  overflow: hidden;
  min-height: var(--st-collection-height);
  height: var(--st-collection-height);
}
.categories-i-grid .bg-loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.categories-i-grid .categories-i-grid__bg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.categories-i-grid .categories-i-grid__bg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--g-collection-bg-overlay);
  z-index: 1;
  opacity: var(--g-collection-op-overlay);
}
.categories-i-grid .categories-i-grid__bg .categories-i-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0 !important;
  transform: scale(1.08);
  transition: transform 0.8s cubic-bezier(0.37, 0.31, 0.2, 0.85),
    opacity 1s ease;
  will-change: opacity, transform;
  backface-visibility: hidden;
}
.categories-i-grid .categories-i-grid__bg .categories-i-bg.active {
  opacity: 1 !important;
  transform: scale(1);
}
.categories-i-bg img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.categories-i-container{
    display: grid;
    grid-template-columns:repeat(var(--g-categories-grid), 1fr);
    align-items:center;
    align-self:center;
    height:100%;
    
}
.categories-i-container > div{
    height: 100%;
    align-items:center;
    display: flex;
    justify-content: center;
    position: relative;
}
.categories-i-container > div:not(:last-child)::after{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: var(--g-color-heading);
    opacity: .15;
    content: "";
}

.categories-i-box{
    position: relative;
    overflow: hidden;
}
.categories-i-box .categories-bg{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: block;
}
.categories-i-box .categories-bg-1{
    background-color: var(--g-bg-inspire);
    opacity: 0;
    transform: translateX(-101%);
    mix-blend-mode: multiply;
}
.categories-i-box .categories-bg-2{
    background-color:var(--g-bg-inspire);
    transform: translateX(-101%);
   
    opacity: 0;
}
.categories-i-box.active .categories-bg-1{
    opacity: 1;
    transform: translateX(0);
    transition: all .3s ease;
    
}
.categories-i-box.active .categories-bg-2{
    opacity: 1;
    transform: translateX(101%);
    transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media(min-width:750px){
    .categories-i-headhover{
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        transform: translateX(-101%);
        opacity: 0;
        transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
        position: absolute;
    }
    .categories-i-box.active .categories-i-headhover{
        --g-color-heading:white;
        --color-body-text:white;
    }
}
.categories-i-box.active .categories-i-headhover{
    opacity: 1;
    transform: translateX(0);
}
.categories-i-box.active .categories-i-head{
    opacity: 0;
    transform: translateX(101%);
    transition: all .3s ease;
}
.categories-i-grid:hover .categories-i-head{
    opacity: 0.5;
}

@media (max-width: 749px) {
    .categories-i-grid {
      min-height: auto;
      height: auto;
    }
    .categories-i-container{
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        
    }
    .categories-i-grid .bg-loading{
        display: none;
    }
    .categories-i-grid__bg{
        display: none;
    }
    .categories-i-head{
        display: none !important;
    }
    .categories-i-headhover{
        position: static !important;
        width: 100%;
        padding:0px 20px 40px 20px;
    }
    .categories-i-box .categories-bg{
        display: none;
    }
    .categories-i-box--mobile{
        position: relative;
        overflow: hidden;
        width: 100%;
    }
    .categories-i-box--wrap{
        padding-top: 60%;
    }
    .categories-i-box--wrap img{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
