.tab-container{
      position:relative;
      padding-top:100% ;
    }
    .tab-info-content{
        position:absolute;
        top: 0;
        width: 100%;
        opacity:0;
        transition:opacity 0.3s var(--anim-transition);
    }
    .tab-info-content.active-tab{
        opacity:1;
      z-index:1;
    }
    .tab-info .tab-info__head{
        border-bottom:1px solid rgba(var(--g-color-heading-rgb),0.1);
        cursor:pointer;
        position:relative;
    }
    .tab-info .tab-info__head:before{
        content:"";
        width:0;
        left:0;
        height:1px;
        background:rgba(var(--g-color-heading-rgb),1);
        position:absolute;
        bottom: -1px;

    }
    .tab-info .tab-info__head.active:before{
        animation-name: animatedActive;
        animation-duration: 8s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-play-state: running;
        animation-timing-function: linear;
    }
    .tab-info__content{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
    .tab-image__container .image-content__image-wrapper{
      padding-top: 100% !important;
    }
    .tab-product-item{
      position:absolute;
      bottom:1rem;
      right:1rem;
      max-width:300px;
    }
    .tab-product-item .product-card{
      display:flex;
      padding:1rem;
      border:none;
      align-items: start;
    }
    .tab-product-item .product-card__image-wr{
      width: 72px;
      flex: 0 0 72px;
      margin-right: 1.5rem;
    }
    .tab-product-item .product-card__info{
      padding: 0!important;
      margin-bottom: 0;
    }
    .tab-product-dark.tab-product-item .product-card{
      background:rgba(var(--g-color-heading-rgb),0.3);
      transition:background 0.3s ease;
    }
    .tab-product-dark.tab-product-item .product-card:hover{
      background:rgba(var(--g-color-heading-rgb),0.4);
    }
    .tab-product-dark.tab-product-item .product-card__info{
      background:transparent;
    }
    .tab-product-dark .product-card__info{
      --g-color-heading:white;
      --g-color-heading-rgb:255,255,255;
      --color-body-text-rgb:255,255,255;
    }
    .tab-product-dark .product-card__price{
      color: rgba(var(--color-body-text-rgb),1);
    }
    .tab-product-dark .js-btn-quickview{
      color: rgba(var(--color-body-text-rgb),1);
      text-decoration-color: rgba(var(--color-body-text-rgb),1);
    }
    @keyframes animatedActive{
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }