.quantity-bundles {
  --benefit-border-radius: 0.6em;
  --badge-line-height: 1.6;
  --badge-border-radius: 0.2em;
  --badge-font-size: 1rem;

  --label-font-size: 1.4rem;
  --label-font-size: 1rem;
  /* --label-font-size: var(--g-h6-font-size); */

  --benefit-font-size: 0.7rem;

  --caption-font-size: 1.4rem;
  --caption-font-size: 0.9rem;
  /* --caption-font-size: var(--g-font-size); */

  --price-font-size: 1rem;
  --compare-price-font-size: 0.88rem;

  --border-width: 0.2rem;
  --border-radius: 1rem;
  --column-gap: 0.75rem;
  --row-gap: 0.55rem;

  --color-foreground: var(--color-base-text);
  --color-background: var(--color-base-background-1);
  --gradient-background: var(--gradient-base-background-1);
  --color-link: var(--color-base-outline-button-labels);
  --alpha-link: 0.85;
  --color-button: var(--color-base-accent-1);
  --color-button-text: var(--color-base-solid-button-labels);
  --alpha-button-background: 1;
  --alpha-button-border: 1;
  --color-badge-background: var(--color-background);
  --color-badge-border: var(--color-foreground);
  --alpha-badge-border: 0.1;
  --accent-color: var(--color-base-accent-1);
  --border-color: var(--color-foreground);
}
.quantity-bundles-container {
  position: relative;
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: var(--column-gap);
  row-gap: var(--row-gap);
}
.quantity-bundles-container input {
  opacity: 0;
  width: 0;
  height: 0;
  cursor: pointer;
  position: absolute;
}
.quantity-bundle {
  padding: 1.1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  background: rgba(var(--accent-color), 0.02);
  border: solid var(--border-width) rgba(var(--accent-color), 0.3);
  position: relative;
}
.quantity-bundles.quantity-bundles--with-indicator .quantity-bundle {
  padding-left: 2.5rem;
  margin-bottom: 0;
}
.quantity-bundles-container input:checked + .quantity-bundle {
  /* background: rgba(var(--accent-color), 0.1); */
  border: solid var(--border-width) rgb(var(--accent-color));
}
@media (hover: hover) {
  .quantity-bundle:hover {
    background: rgba(var(--accent-color), 0.15);
    border: solid var(--border-width) rgb(var(--accent-color));
  }
}

.quantity-bundles__title {
  margin: 0;
  font-size: 1rem;
  line-height: 1;
  column-gap: 10px;
  margin-bottom: 1.3rem;
}

.quantity-bundles--with-indicator .quantity-bundle::before {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 2rem;
  left: 1.4rem;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: solid 0.2rem rgba(var(--accent-color), 0.3);
}
.quantity-bundles--with-indicator
  .quantity-bundles-container
  input:checked
  + .quantity-bundle::before {
  border: solid 0.2rem rgb(var(--color-background));
  background: rgb(var(--accent-color));
  box-shadow: 0 0 0 0.1rem rgb(var(--accent-color));
}
.quantity-bundles-container input.disabled + .quantity-bundle {
  opacity: 0.3;
}
.quantity-bundle__badge {
  position: absolute;
  font-weight: var(--font-body-weight-bold);
  font-weight: 700;
  font-size: var(--badge-font-size);
  line-height: var(--badge-line-height);
  top: -1rem;
  right: -1rem;
  transform: rotate(3deg);
  margin: 0;
  padding: 0 0.7em;
  border-radius: var(--badge-border-radius);
  @media(max-width: 750px){
    font-size: var(--badge-font-size-mobile);    
  }
}

.quantity-bundles .quantity-bundle--badge-style-2 .quantity-bundle__badge {
  transform: translateY(calc(-50% - (var(--border-width) / 2)));
  top: 0;
  right: 1.5rem;
}
/* .quantity-bundles .quantity-bundle--badge-style-3 .quantity-bundle__badge {
  transform: translateY(calc(-100% - var(--border-width)));
  top: 0;
  right: 1.5rem;
  border-radius: var(--badge-border-radius) var(--badge-border-radius) 0 0;
  --badge-font-size: 1.4rem;
}
.quantity-bundles .quantity-bundle--badge-style-3.quantity-bundle--badge {
  margin-top: 1.6rem;
} */
.quantity-bundle__image-and-content {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}
.quantity-bundles .quantity-bundle__image {
  width: calc(var(--image-width) / 2.5);
  max-width: 7ch;
  max-width: 6ch;

  margin-top: var(--y-padding);
}
.quantity-bundle__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.quantity-bundle__left > span,
.quantity-bundle__right > span {
  display: block;
}
.quantity-bundle__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.5rem;
  text-align: left;
}
.quantity-bundle__left .quantity-bundle__label {
  font-size: var(--label-font-size);
  font-weight: 700;
  line-height: 1;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}
.quantity-bundles .quantity-bundle--benefit-bottom .quantity-bundle__label {
  flex-direction: column;
  align-items: flex-start;
}
.quantity-bundle__label-text {
  line-height: 1;
}
.quantity-bundle__benefit {
  display: inline-block;
  font-size: var(--benefit-font-size);
  background: rgb(var(--color-background));
  color: rgb(var(--accent-color));
  line-height: 1.9;
  padding: 0 0.75em;
  font-weight: 700;
  border: solid 1px rgb(var(--accent-color));
  border-radius: var(--benefit-border-radius);
  white-space: nowrap;
}
.quantity-bundle__benefit--solid {
  background: rgb(var(--accent-color));
  color: rgb(var(--color-background));
}
.quantity-bundle__caption {
  font-size: var(--caption-font-size);
  line-height: 1;
}
.quantity-bundle__right {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}
.quantity-bundle__price {
  line-height: 1;
  font-size: var(--price-font-size);
  font-weight: 700;
  color: rgb(var(--accent-color));
}
.quantity-bundle__compare-price {
  font-size: var(--compare-price-font-size);
  text-decoration: line-through;
  line-height: 1;
}
.quantity-bundle__caption span {
  display: inline;
}
.quantity-bundle__variants {
  height: 0;
  overflow: hidden;
  padding-top: 0;
}
.quantity-bundles-container
  input:checked
  + .quantity-bundle
  .quantity-bundle__variants {
  height: auto;
  padding-top: 0.63rem;
}
.quantity-bundle__variants__label {
  font-size: 1rem;
  line-height: 1.3;
  display: block;
  margin-bottom: 0.3rem;
}
.quantity-bundle__selector-item__number {
  font-weight: 700;
  line-height: 1.5rem;
}
.quantity-bundle__selector-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}
.quantity-bundle__selector-item:not(:last-of-type) {
  margin-bottom: 0.75rem;
}
.quantity-bundle__selector-item .select {
  width: fit-content;
}
.quantity-bundles-full-width-pickers .select {
  flex-grow: 1;
}
.quantity-bundle__selector-item .select__select {
  height: 2.1rem;
  line-height: 1;
}
.variant-breaks-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.variant-breaks label {
  display: block;
}

/* Color Styles */
.gradient {
  background: rgb(var(--color-background));
  background: var(--gradient-background);
  background-attachment: fixed;
}

input:checked + .gradient {
  background: rgb(var(--color-background));
  background: var(--gradient-background-selected);
  color: rgb(var(--color-base-text-selected));
}

nitro-quantity-bundles {
  display: block;
  width: 100%;
  --pickers-overlay-opacity: 1;
  margin-bottom: 2rem;
}

nitro-quantity-bundles .product-form__input .select__select {
  line-height: 1;
  padding: 7px 10px;
  font-size: 12px;
  width: 100%;

  /* Hide default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;

  position: relative;

  background: transparent;
  background: rgba(255, 255, 255, var(--pickers-overlay-opacity));
}

nitro-quantity-bundles .product-form__input .select {
  max-width: 140px;
  position: relative;
  /* Hide default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.quantity-bundles-full-width-pickers .product-form__input .select {
  width: 100%;
  max-width: none;
}

nitro-quantity-bundles .product-form__input .select .svg-wrapper {
  position: absolute;
  right: 7px;
  svg {
    width: 12px;
  }
}

nitro-quantity-bundles .form__label {
  margin-bottom: 0;
  line-height: 1;
  font-size: 14px;
}

nitro-quantity-bundles .product-form__input {
  width: 100%;
  padding: 2px;
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;
  gap: 10px;
}

.quantity-bundle__benefit--transparent,
.quantity-bundle__benefit--outlined {
  background: transparent;
  border-color: rgb(var(--color-benefits-foreground));
}

.product-form__item--submit {
  margin-left: 0 !important;
}

nitro-variant-selects {
  display: flex;
  column-gap: 10px;
}

nitro-quantity-bundles .product-form__input {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

nitro-quantity-bundles .product-form__input .select {
  max-width: 100%;
  flex-grow: 1;
}

nitro-quantity-bundles:not(.quantity-bundles-full-width-pickers) .select {
  max-width: 7rem;
}

nitro-quantity-bundles:not(.quantity-bundles-full-width-pickers)
  .product-form__input {
  width: max-content;
}

@media (max-width: 990px) and (min-width: 768px) {
  nitro-quantity-bundles nitro-variant-selects {
    flex-wrap: wrap;
  }
}

nitro-quantity-bundles:not(.quantity-bundles-full-width-pickers)
  nitro-variant-selects {
  display: flex;
}

nitro-quantity-bundles:not(.quantity-bundles-full-width-pickers)
  .product-form__input:first-of-type
  label {
  min-width: 75px;
}
