<button type="button" class="text-link site-header__link js-drawer-open-left align-items-center d-inline-flex">
  <svg aria-hidden="true" fill="none" focusable="false" width="24" class="icon" viewBox="0 0 24 24">
    <path d="M1 19h22M1 12h22M1 5h22" stroke="currentColor" stroke-width="1.5" stroke-linecap="square"></path>
  </svg>
  <span class="visually-hidden">Navigation</span>
</button>